.flexDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 32px;
    gap: 24px;
}
a{
    width: fit-content;
    padding: 8px 32px;
    border: none;
    outline: none;
    background-color: #264ad8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background-color: #1836af;
}
a:active{
    background-color: #152f9b;
}

p{
    background-color: #ffdce2;
    padding: 32px;
    border-radius: 8px;
    text-transform: uppercase;
    color: hotpink;
    font-family: sans-serif;
}
iframe{
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 8px;
}