.flexDiv{
    display: flex;
    flex-direction: column;
}
button{
    width: fit-content;
    padding: 8px 32px;
    border: none;
    outline: none;
    background-color: rgb(67, 0, 139);
    color: white;
    border-radius: 8px;
}