.flexDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 32px;
}
button{
    width: fit-content;
    padding: 8px 32px;
    border: none;
    outline: none;
    background-color: #264ad8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: #1836af;
}
button:active{
    background-color: #152f9b;
}